@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
		padding: 0;
		margin: 0;
		border: 0;
}

*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
}

:focus, :active {
		outline: none;
}

a:focus, a:active {
		outline: none;
}

nav, footer, header, aside {
		display: block;
}

html, body {
		height: 100%;
		width: 100%;
		font-size: 100%;
		line-height: 1;
		-ms-text-size-adjudt: 100%;
		-moz-text-size-adjudt: 100%;
		-webkit-text-size-adjudt: 100%;
		font-family: "Lato";
		color: #979696;
		background: #212121;
}
@media (max-width: 767.9px) {
		html, body {
				font-size: calc(7px + 19.9 * ((100vw - 320px) / 1600));
		}
}
@media (min-width: 767.9px) {
		html, body {
				font-size: calc(7px + 8 * (100vw / 1600));
		}
}
@media (min-width: 1600px) {
		html, body {
				font-size: 15px;
		}
}

input, button, textarea {
		font-family: inherit;
}

input::-ms-clear {
		display: none;
}

button {
		cursor: pointer;
}

button::-moz-focus-inner {
		padding: 0;
		border: 0;
}

a, a:visited {
		text-decoration: none;
		color: inherit;
}

a:hover {
		text-decoration: none;
}

ul li {
		list-style: none;
}

img {
		vertical-align: top;
}

h1, h2, h3, h3, h4, h5, h6 {
		font-size: inherit;
		font-weight: inherit;
}

.-container {
		margin: 0 auto;
		padding: 0 10px;
		max-width: 1220px;
}

.fa {
		color: #ff3448;
}

.header {
		width: 100%;
		background: #212121;
		position: fixed;
}
.header__top {
		height: 40px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		border-bottom: 1px solid #595959;
}
.header__bottom {
		height: 90px;
		padding: 13px 0;
		display: flex;
		justify-content: space-between;
}
@media (min-width: 767.9px) {
		.header__menu {
				position: fixed;
				top: 130px;
				left: 0;
				width: 100%;
				height: 40px;
				background: #030303;
		}
}

.menu__body {
		display: flex;
}
@media (max-width: 767.9px) {
		.menu__body {
				position: fixed;
				width: 60%;
				height: 100%;
				justify-content: flex-end;
				align-items: flex-start;
				left: -100%;
				background: rgba(255, 52, 72, 0.7);
				transition: 300ms;
				-webkit-transition: 300ms;
				-moz-transition: 300ms;
				-o-transition: 300ms;
		}
		.menu__body:before {
				content: "";
				display: block;
				position: fixed;
				height: 40px;
				width: 100%;
				background: #212121;
		}
		.menu__body__active {
				transition: 300ms;
				-webkit-transition: 300ms;
				-moz-transition: 300ms;
				-o-transition: 300ms;
				left: 0;
		}
}
@media (min-width: 767.9px) {
		.menu__body {
				margin: 0 auto;
				padding: 0 10px;
				max-width: 1220px;
				height: 100%;
				align-items: center;
		}
}
.menu__list {
		display: flex;
		color: #fff;
}
@media (max-width: 767.9px) {
		.menu__list {
				flex-direction: column;
				align-items: center;
				position: absolute;
				top: 45px;
				left: 0;
				width: 100%;
		}
		.menu__list li {
				display: block;
				width: 90%;
				border-bottom: 1px solid #595959;
		}
}
@media (min-width: 767.9px) {
		.menu__list {
				width: 55%;
				justify-content: space-around;
		}
}
@media (max-width: 767.9px) {
		.menu__link {
				display: block;
				width: 100%;
				padding: 10px 10px;
		}
}
@media (min-width: 767.9px) {
		.menu__link {
				transition: 150ms;
				-webkit-transition: 150ms;
				-moz-transition: 150ms;
				-o-transition: 150ms;
		}
		.menu__link:hover {
				transition: 150ms;
				-webkit-transition: 150ms;
				-moz-transition: 150ms;
				-o-transition: 150ms;
				color: #ff3448;
		}
}

@media (max-width: 767.9px) {
		.icon-menu {
				display: block;
				position: fixed;
				top: 12px;
				left: 10px;
				width: 30px;
				height: 18px;
				cursor: pointer;
				z-index: 5;
		}
		.icon-menu span {
				transition: 0.3s;
				-webkit-transition: 0.3s;
				-moz-transition: 0.3s;
				-o-transition: 0.3s;
				top: 8px;
				left: 0;
				position: absolute;
				width: 100%;
				height: 2px;
				background: #595959;
		}
		.icon-menu span:first-child {
				top: 0;
		}
		.icon-menu span:last-child {
				top: auto;
				bottom: 0;
		}
		.icon-menu__active span {
				transform: scale(1, 1);
				-webkit-transform: scale(1, 1);
				-moz-transform: scale(1, 1);
				-ms-transform: scale(1, 1);
		}
		.icon-menu__active span:nth-child(2) {
				opacity: 0;
		}
		.icon-menu__active span:first-child {
				transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				top: calc(50% - 1px);
		}
		.icon-menu__active span:last-child {
				transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				bottom: calc(50% - 1px);
		}
}

.logo-header {
		color: #fff;
		display: flex;
		flex-direction: column;
}
.logo-header__string1 {
		font-weight: 700;
}
@media (max-width: 767.9px) {
		.logo-header__string1 {
				font-size: calc(15px + 55.5 * ((100vw - 320px) / 1600));
		}
}
@media (min-width: 767.9px) {
		.logo-header__string1 {
				font-size: calc(15px + 30 * (100vw / 1600));
		}
}
@media (min-width: 1600px) {
		.logo-header__string1 {
				font-size: 45px;
		}
}
.logo-header__highlighted {
		color: #ff3448;
}
.logo-header__string2 {
		display: flex;
		justify-content: space-around;
		text-transform: uppercase;
}
@media (max-width: 767.9px) {
		.logo-header__string2 {
				letter-spacing: calc(0.5px + 3.55 * ((100vw - 320px) / 1600));
		}
}
@media (min-width: 767.9px) {
		.logo-header__string2 {
				letter-spacing: calc(0.5px + 2.7 * (100vw / 1600));
		}
}
@media (min-width: 1600px) {
		.logo-header__string2 {
				letter-spacing: 3.2px;
		}
}

.top-header {
		position: relative;
}
.top-header__logo {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
}
@media (min-width: 767.9px) {
		.top-header__logo {
				display: none;
		}
}
.top-header__minimenu {
		display: flex;
		align-items: center;
}
.minimenu-header {
		position: relative;
		color: #ff3448;
}
.minimenu-header__link {
		transition: 150ms;
		-webkit-transition: 150ms;
		-moz-transition: 150ms;
		-o-transition: 150ms;
}
@media (max-width: 767.9px) {
		.minimenu-header__link {
				margin-right: calc(10px + 47 * ((100vw - 320px) / 1600));
		}
}
@media (min-width: 767.9px) {
		.minimenu-header__link {
				margin-right: calc(10px + 30 * (100vw / 1600));
		}
}
@media (min-width: 1600px) {
		.minimenu-header__link {
				margin-right: 40px;
		}
}
@media (max-width: 767.9px) {
		.minimenu-header__link {
				font-size: calc(5px + 17.5 * ((100vw - 320px) / 1600));
		}
}
@media (min-width: 767.9px) {
		.minimenu-header__link {
				font-size: calc(5px + 9 * (100vw / 1600));
		}
}
@media (min-width: 1600px) {
		.minimenu-header__link {
				font-size: 14px;
		}
}
.minimenu-header__link span {
		margin: 0 0 0 10px;
}
.minimenu-header__link:hover {
		transition: 150ms;
		-webkit-transition: 150ms;
		-moz-transition: 150ms;
		-o-transition: 150ms;
		color: #fff;
}
@media (max-width: 767.9px) {
		.minimenu-header__link {
				font-size: 13px;
				margin: 0 13px 0 0;
		}
		.minimenu-header__link span {
				display: none;
		}
}

.search-header {
		display: inline-block;
		border-left: 1px solid #595959;
}
@media (max-width: 455px) {
		.search-header {
				display: none;
		}
}
.search-header__search {
		color: #fff;
		line-height: 10px;
		display: flex;
		justify-content: center;
		overflow: hidden;
		background: #595959;
		border-radius: 50px;
		width: 0%;
		height: 65%;
		position: absolute;
		top: 50%;
		right: 50px;
		transform: translate(0, -50%);
		transition: 150ms;
		-webkit-transition: 150ms;
		-moz-transition: 150ms;
		-o-transition: 150ms;
}
@media (max-width: 767.9px) {
		.search-header__search {
				font-size: calc(6px + 20.2 * ((100vw - 320px) / 1600));
		}
}
@media (min-width: 767.9px) {
		.search-header__search {
				font-size: calc(6px + 10 * (100vw / 1600));
		}
}
@media (min-width: 1600px) {
		.search-header__search {
				font-size: 16px;
		}
}
.search-header__search-active {
		transition: 150ms;
		-webkit-transition: 150ms;
		-moz-transition: 150ms;
		-o-transition: 150ms;
		width: 100%;
		padding: 0 10px;
}
.search-header__icon {
		cursor: pointer;
		margin: 0 10px 0 10px;
		fill: #fff;
		max-width: 24px;
		max-height: 24px;
		transition: 150ms;
		-webkit-transition: 150ms;
		-moz-transition: 150ms;
		-o-transition: 150ms;
}
.search-header__icon:hover {
		transition: 150ms;
		-webkit-transition: 150ms;
		-moz-transition: 150ms;
		-o-transition: 150ms;
		fill: #ff3448;
}
.search-header__icon-active {
		fill: #ff3448;
}

@media (max-width: 767.9px) {
		.bottom-header {
				display: none;
		}
}
.bottom-header__submenu {
		display: flex;
		justify-content: space-between;
}
.bottom-header__contacts {
		display: flex;
		align-items: center;
		padding: 5px 0;
}
.bottom-header__buttons {
		display: flex;
		height: 100%;
		margin: 0 0 0 62px;
}

.contacts-header__list {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;
}
.contacts-header__item1 {
		color: #fff;
		transition: 150ms;
		-webkit-transition: 150ms;
		-moz-transition: 150ms;
		-o-transition: 150ms;
}
@media (max-width: 767.9px) {
		.contacts-header__item1 {
				font-size: calc(10px + 27 * ((100vw - 320px) / 1600));
		}
}
@media (min-width: 767.9px) {
		.contacts-header__item1 {
				font-size: calc(10px + 10 * (100vw / 1600));
		}
}
@media (min-width: 1600px) {
		.contacts-header__item1 {
				font-size: 20px;
		}
}
.contacts-header__item1:hover {
		transition: 150ms;
		-webkit-transition: 150ms;
		-moz-transition: 150ms;
		-o-transition: 150ms;
		color: #ff3448;
}
.contacts-header__item1 i {
		padding: 0 15px 0 0;
}
@media (max-width: 767.9px) {
		.contacts-header__item2 {
				font-size: calc(5px + 17.5 * ((100vw - 320px) / 1600));
		}
}
@media (min-width: 767.9px) {
		.contacts-header__item2 {
				font-size: calc(5px + 9 * (100vw / 1600));
		}
}
@media (min-width: 1600px) {
		.contacts-header__item2 {
				font-size: 14px;
		}
}

.btn-header {
		height: 100%;
		border-left: 1px solid #595959;
}
.btn-header__body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		padding: 10px 0;
}
@media (max-width: 767.9px) {
		.btn-header__body {
				width: calc(40px + 142 * ((100vw - 320px) / 1600));
		}
}
@media (min-width: 767.9px) {
		.btn-header__body {
				width: calc(40px + 74 * (100vw / 1600));
		}
}
@media (min-width: 1600px) {
		.btn-header__body {
				width: 114px;
		}
}
.btn-header__body:hover .btn-header__text {
		transition: 200ms;
		-webkit-transition: 200ms;
		-moz-transition: 200ms;
		-o-transition: 200ms;
		color: #ff3448;
}
.btn-header__text {
		transition: 200ms;
		-webkit-transition: 200ms;
		-moz-transition: 200ms;
		-o-transition: 200ms;
		text-transform: uppercase;
		color: #fff;
}